<ion-view>
    <ion-content class="padding">
        <div class="homepictures" ng-style={"background-image":"url('http://tropenmedicus.de/_api/_images/1.jpg')"} ng-click="go('5_krankheiten.pdf')">
            <div class="backgroundtext">
                <p><span>Tropen- und Reisemedizin</span></p>
                <p><span>Handbuch 2020</span></p>
            </div>
        </div>
        <div class="homepictures" ng-style={"background-image":"url('http://tropenmedicus.de/_api/_images/2.jpg')"} ng-click="go('2_laender.pdf')">
            <div class="backgroundtext">
                <p><span>Länderübersicht</span></p>
            </div>
        </div>
        <div class="homepictures" ng-style={"background-image":"url('http://tropenmedicus.de/_api/_images/3.jpg')"} ng-click="go('3_impfungen.pdf')">
            <div class="backgroundtext">
                <p><span>Impfungen</span></p>
            </div>
        </div>
        <div class="homepictures" ng-style={"background-image":"url('http://tropenmedicus.de/_api/_images/4.jpg')"} ng-click="go('4_malaria.pdf')">
            <div class="backgroundtext">
                <p><span>Malaria</span></p>
            </div>
        </div>
    </ion-content>
</ion-view>
