<ion-view>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Benutzername" ng-model="username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Passwort" ng-model="password">
          </label>
      </div>
      <button class="button button-block button-calm loginbutton" ng-click="login(username, password); username = ''; password = '';">Anmelden</button>
      <div class="info-text">
          <p>Melden Sie sich mit Ihrem Tropenmedicus Benutzernamen und Passwort an.
              Sollten Sie noch keine Zugangsdaten haben, können Sie diese mittels Email unter
              nachstehender Adresse beantragen:
              service@tropenmedicus.de</p>
      </div>
  </ion-content>
</ion-view>
