<div ng-controller="OutbreakPopUpCtrl">
    <p style="text-align: center;">{{counter}}/1</p>
    <progress style="width: 99.5%;" max="100" ng-model="downloadProgress" value="{{downloadProgress}}"></progress>
</div>