<div ng-class="getNavStyle(scroll)" class="pdfbar">
  <button ng-click="goPrevious()" class="button ion-ios-arrow-back pdfbuttons"></button>
  <button ng-click="goNext()" class="button ion-ios-arrow-forward pdfbuttons"></button>
  <button ng-click="zoomIn()" class="button ion-android-add pdfbuttons"></button>
  <button ng-click="zoomOut()" class="button ion-android-remove pdfbuttons"></button>
  <button ng-click="rotate()" class="button ion-android-sync pdfbuttons"></button>
  <input type="text" min=1 ng-model="pageNum" class="pdfinput">/ {{pageCount}}
</div>
<ion-scroll zooming="true" direction="xy">
  <canvas id="pdf-canvas" class="rotate0"></canvas>
</ion-scroll>