/* Font */
@font-face {
	font-family: roboto;
	src: url('Roboto-Regular.ttf');
}

body {
	font-family: roboto !important;
}

/*HOME page*/

.homepictures{
    background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	width: 100%;
	height: 44vh;
	position: relative;
	margin-bottom: 10px;
}
.backgroundtext {
	/*background-color: #ffffff;*/
	/*opacity: 0.9;*/
	padding-left: 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.backgroundtext p {
	font-weight: 800;
	font-size: 4.5vw;
	line-height: 5vw;
	margin-bottom: 3vw;
}
.backgroundtext p span {
	background-color: #ffffff;
	opacity: 0.9;
	padding: 3px 6px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
/*MENU*/

.buttonwhite{
	color:white!important;
}
.headercolor{
	background-color: #1b2e59!important;
}
.headertitle{
	color:white!important;
}
.backbutton{
	color:white!important;
}
.logo{
	width: 150px;
	margin-top: 7px;
}

.menu-content {
	background-color: #1b2e59;
}
.borderitem{
	border-style: none;
	border-bottom: solid 1px;
}
.borderitem-pdfs {
	border-bottom: solid 1px;
}
.menu-list ion-item {
	background-color: #1b2e59 !important;
	color: #ffffff;
}

.menu-list ion-item a {
	background-color: #1b2e59 !important;
	color: #ffffff;
}

.menu-footer {
	background-color: #1b2e59;
	color: #cccccc;
	border-top: solid 1px;
}

.menu-footer-text {
	font-size: 14px !important;
}

.menu-footer-span {
	color: #567483;
}

/*LOGIN*/

.loginbutton{
	background-color: #1b2e59!important;
}

.info-text {
	margin-top: 20px;
}
/*PDF VIEWER*/

.pdfbuttons{
	font-size: 30px;
	background-color: #b2b2b2;
	border-radius: 0px;
	color: #ffffff;
}
.pdfbar {
	text-align: center;
	background: #b2b2b2;
}
.pdfinput {
	width: 10%;
    display: inline!important;
	margin-top: 6px;
	vertical-align: inherit!important;
}

.rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg); }
.rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
.rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg); }
.rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); }

.some-pdf-container { width: 100% !important; height: 100% !important; }
.scroll {
	height: 100%;
}


#viewFind {
	display: block!important;
}
/*html[dir='ltr'] .pdfjs .findbar {*/
    /*left: 62px!important;*/
/*}*/
.myFindbar {
    top: 32px;
    left: 37px!important;
    position: absolute;
    z-index: 10000;
    height: 61px!important;
    min-width: 16px;
    padding: 0 6px 0 6px;
    margin: 4px 2px 4px 2px;
    color: hsl(0,0%,85%);
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    cursor: default;
}
.pdfjs .toolbarField.pageNumber {
    width: 48px!important;
    height: 25px!important;
}
@media (max-width: 900px){
    .pdfjs #toolbarViewerMiddle {
        display: table;
        margin: 0!important;
        /*left: auto;*/
        position: inherit;
        transform: none;
        float: right;
    }
}
@media (max-width: 640px){
    .pdfjs .visibleSmallView {
        display: none!important;
    }
}
@media (max-width: 640px){
	.pdfjs .hiddenSmallView {
		display: block!important;
	}
}
/*IOS Header fix*/
/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
  height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}

